<div class="md-nav">
    <div class="md-container">
        <a class="md-nav-brand" href="">Admin Dashboard</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="md-nav-link" href="" Match="NavLinkMatch.All">
                <span class="material-icons">home</span> Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="md-nav-link" href="staff">
                <span class="material-icons">people</span> Staff Management
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="md-nav-link" href="staff/checkin">
                <span class="material-icons">schedule</span> Check In/Out
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="md-nav-link" href="users">
                <span class="material-icons">person</span> Users
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="md-nav-link" href="products">
                <span class="material-icons">inventory</span> Products
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="md-nav-link" href="orders">
                <span class="material-icons">shopping_cart</span> Orders
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="md-nav-link" href="reports">
                <span class="material-icons">analytics</span> Reports
            </NavLink>
        </div>
    </nav>
</div>

